* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

nav {
    background-color: #262626;
    height: 4em;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 999;
}

nav img {
    height: 50%;
    padding: 1em;
}

nav img:nth-child(odd) {
    margin: 0 4em;
}

ul {
    display: grid;
    position: absolute;
    visibility: hidden;
    height: 100vh;
    width: 100vw;
    list-style-type: none;
    background-color: #262626;
    margin-top: 4em;
    transition: 1s all;
    transform: translateX(-100vw);
    z-index: 998
}

li {
    padding: 20px;
    text-align: center;
}

li a {
    text-decoration: none;
}

.active {
    text-decoration: underline white;
}

.menuToggled {
    visibility: visible;
    transform: translateX(0px);
}

section {
    height: 100vh;
    display: grid;
    grid-gap: 16px;
    grid-template-rows: 80px;
}

article {
    background-color: #262626;
    color: white;
}

#hero {
    display: grid;
    position: relative;
    background-image: url("../images/indexImage1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#no {
    position: absolute;
    left: 50%;
    bottom: 40%;
    transform: translate(-50%, 50%);
    color: white;
}

#hero button {
    cursor: pointer;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#hero2 {
    display: flex;
    background-image: url("../images/aboutImage1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
}

#hero2 button {
    margin-top: 70vh;
}

#current {
    display: grid;
    grid-gap: 16px;
    grid-template-rows: 1fr 1fr;
}

#currentBg {
    background-image: url("../images/indexImage2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#currentText {
    padding: 2em;
}

#leader {
    grid-gap: 0;
    margin: 0;
    padding: 0;
    height: 680px;
    overflow: hidden;
    display: inline;
}

#shortLeaderTop {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px;
    transform: skewX(-25deg) translateX(15px);
    grid-gap: 8px;
    margin-top: 5em;
}

#shortLeaderTop article {
    background-color: #262626;
    color: white;
    padding: 2em 2em;
}

#shortLeaderTop h4 {
    transform: skewX(25deg);
    font-size: 2em;
}

#shortLeaderMiddle {
    background-color: #262626;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(7, 60px);
    grid-gap: 8px;
}

#shortLeaderMiddle article {
    background-color: #e0433a;
    color: white;
    text-align: center;
    padding-top: 1em;
    font-size: 2em;
}

#shortLeaderMiddle article:nth-child(3n+2) {
    background-color: #542926;
    outline: white solid 8px;
}

#shortLeaderBottom {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px;
    transform: skewX(-25deg) translateX(-14px);
    grid-gap: 8px;
}

#shortLeaderBottom article {
    background-color: #E0433A;
    display: grid;
}

#shortLeaderBottom article:nth-child(odd) {
    background-color: #262626;
}

#shortLeaderBottom article:nth-child(even) {
    margin-top: 8px;
}

#shortLeaderBottom h4 {
    transform: skewX(25deg);
    color: white;
    font-size: 2em;
    text-align: center;
}

#leaderboardTimeBoard {
    display: none;
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    margin-top: -19em;
}

#leaderboardTimes {
    width: 100%;
    margin: 0 auto;
    transform: skewX(-25deg);
}

#leaderboardSide {
    width: 100%;
    margin: 0 auto;
    transform: skewX(-25deg);
}

#timesTop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #262626;
    color: white;
    text-align: center;
    grid-gap: 1em;
}

#timesTop article:nth-child(3n+2) {
    border-left: 8px white solid;
    border-right: 8px white solid;
}

#timesTop h3 {
    transform: skewX(25deg);
    margin: 1em;
}

#timesBottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    background-color: #E0433A;
}

#timesBottom article {
    background-color: #E0433A;
}

#timesBottom article:nth-child(3n+2) {
    background-color: #542926;
    width: 100%;
    border-left: 8px #262626 solid;
    border-right: 8px #262626 solid;
    width: 100%;
    z-index: 2;
}

#timesBottom article:nth-child(3n) {
    transform: rotate(180deg);
}

#timesBottom h5 {
    color: white;
    transform: skewX(25deg);
    margin-bottom: 1em;
    margin-top: 1em;
}

#timesTop2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #262626;
    color: #262626;
    grid-gap: 1em;
}

#timesTop2 article:nth-child(3n+2) {
    border-left: 8px #262626 solid;
    border-right: 8px #262626 solid;
}

#timesTop2 h3 {
    margin: 1em;
    color: #262626;
}

#timesBottom2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #262626;
}

#timesBottom2 h5 {
    color: #262626;
    margin-bottom: 1em;
    margin-top: 1em;
}

#leader2 {
    display: none;
    height: 80vh;
    margin: 0 auto;
    position: relative;
}

#leader3 {
    display: none;
    height: 80vh;
    margin: 0 auto;
}

#leader3 img {
    max-height: 800px;
    margin: 0 auto;
    display: grid;
}

#longLeader {
    margin: 5em auto;
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5em;
}

#longLeaderBoard {
    transform: skewX(-25deg);
    width: 100%;
}

#longLeaderBoardHead {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #262626;
    color: white;
    margin: 0 auto;
    text-align: center;
    border: 8px solid #262626;
    border-bottom: 0;
    width: 100%;
}

#longLeaderBoardHead article:nth-child(2) {
    border-left: 8px solid white;
    border-right: 8px solid white;
}

#longLeaderBoardHead h3 {
    transform: skewX(25deg);
}

#longLeaderBoardBody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #e0433a;
    color: white;
    margin: 0 auto;
    text-align: center;
    border: 8px solid #262626;
    border-top: 0;
    width: 100%;
    height: 78.2vh;
}

#longLeaderBoardBody3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #e0433a;
    color: white;
    margin: 0 auto;
    text-align: center;
    border: 8px solid #262626;
    border-top: 0;
    width: 100%;
    height: 800px;
}

#longLeaderBoardBody3 article:nth-last-child(1) {
    grid-column: 2/3;
}

#load {
    transform: skewX(0deg);
    width: 90%;
    background-color: #E0433A;
    padding: 0;
    cursor: pointer;
    border: 8px solid #262626;
    grid-column: 2/3;
}

#longLeaderBoardBody article {
    background-color: #E0433a;
}

#longLeaderBoardBody2 article {
    color: #262626;
}

#longLeaderBoardBody3 article {
    background-color: #E0433a;
}

#longLeaderBoardBody h5 {
    transform: skewX(25deg);
    margin: 1em;
}

#longLeaderBoardBody3 h5 {
    transform: skewX(25deg);
    margin: 1em;
}

#longLeaderBoardBody article:nth-child(3n+2) {
    background-color: #542926;
    border-left: 8px solid #262626;
    border-right: 8px solid #262626;
}

#longLeaderBoardBody3 article:nth-child(3n+2) {
    background-color: #542926;
    border-left: 8px solid #262626;
    border-right: 8px solid #262626;
}

#longLeaderBoard2 {
    transform: skewX(-25deg);
    width: 100%;
    height: 100;
}

#longLeaderBoardHead2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 50%;
    background-color: #262626;
    color: #262626;
    margin: 0 auto;
    text-align: center;
    border: 8px solid #262626;
    border-bottom: 0;
    width: 100%;
}

#longLeaderBoardHead2 h3 {
    color: #262626;
}

#longLeaderBoardBody2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 50%;
    background-color: #262626;
    color: #262626;
    margin: 0 auto;
    text-align: center;
    border: 8px solid #262626;
    border-top: 0;
    width: 100%;
    height: 800px;
}

#longLeaderBoardBody2 h5 {
    margin: 1em;
}

#longLeader2 {
    margin: 5em auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5em;
}

#short {
    height: 70vh;
    width: 100%;
}

#long {
    height: 80vh;
}

.ehhh {
    height: auto;
}

#tickets {
    display: grid;
    grid-gap: 16px;
}

#cal {
    height: 500px;
}

#why {
    max-height: 400px;
    margin-bottom: auto;
}

#cal2 {
    height: 31vh;
}

#times {
    height: 47vh;
}

#map3 {
    height: 31vh;
}

#routesMap {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#list {
    max-width: 420px;
    margin: 0 auto;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 16px;
    padding: 16px;
}

#list article {
    text-align: center;
}

#list article h3 {
    line-height: 2.4em;
}

#list article:nth-child(odd) {
    background-color: #DC4C41;
}

#list article:nth-child(even) {
    background-color: #542926;
}

#list article:nth-child(13) {
    grid-column: 1/3;
    width: 35%;
    margin: 0 auto;
    transform: skewX(-25deg)
}

#negativeSkew {
    transform: skewX(25deg);
}

#list2 {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 16px;
    background-color: transparent;
    position: relative;
}

#list2 article input {
    width: 100%;
    height: 100%;
    background-color: #262626;
    color: white;
    border: none;
}

#list2 article input::placeholder {
    padding-left: 1em;
}

.idk input::placeholder {
    padding-left: 1em;
    transform: skewX(25deg);
}

#list2 article h3 {
    line-height: 2.4em;
}

#list2 article:nth-child(1) {
    grid-column: 1/3;
    text-align: center;
}

#list2 article:nth-child(2) {
    grid-column: 1/3;
    background: transparent;
}

#list2 article:nth-child(1n+5) {
    grid-column: 1/3;
}

#list2 article:nth-child(1n+8) {
    grid-column: 1/2;
}

#list2 article:nth-child(1n+9) {
    grid-column: 2/2;
}

#list2 article:last-child {
    grid-column: 2/3;
    text-align: center;
    background-color: #e0433a;
    transform: skewX(-25deg);
    width: 60%;
    margin-left: 2em;
}

#list2 article a {
    text-decoration: none;
}

#list2 article a h3:last-child {
    transform: skewX(25deg);
    line-height: 4em;
    color: white;
}

.dropBtn {
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    height: 100%;
}

.dropBtn:hover,
.dropBtn:focus {
    background-color: #E0433A;
    transition: .2s all;
}

.dropDownContent {
    display: none;
    position: absolute;
    background-color: #262626;
    width: 100%;
    z-index: 1;
}

.dropDownContent a {
    color: white;
    padding: 16px;
    display: block;
    text-decoration: none;

}

.dropDownContent a:hover {
    background-color: #E0433A;
    transition: .5s all;
}

.show {
    display: block;
}

#maps {
    display: grid;
    grid-gap: 16px;
    width: 100vw;
    grid-column: 1fr;
}

#eventMap {
    background-image: url("../images/map.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#legend {
    background-image: url("../images/legend.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
}

#log {
    display: grid;
    grid-gap: 16px;
}

#get {
    height: 33vh;
    position: relative;
    justify-content: center;
    display: flex;
    padding-top: 5vh;
    background-image: url("../images/cover.svg"), url("../images/indexImage3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 600px, center;
}

#yes {
    position: absolute;
    bottom: 50%;
    display: grid;
    grid-gap: 16px;
    z-index: 2;
    grid-template-columns: 1fr;
}

#yes a {
    cursor: pointer;
}

#yes a button {
    cursor: pointer;
    width: 84%;
}

.idk {
    height: 39vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    text-align: center;
    position: relative;
    padding-top: 1em;
}

.idk input {
    height: 40px;
    width: 80%;
    margin: 0 auto;
    transform: skewX(-25deg);
}

.idk button {
    background-color: #e0433a;
    width: 20%;
    transform: skewX(-25deg);
    position: absolute;
    right: 23px;
    bottom: 0;
}

.idk button:hover {
    cursor: pointer;
    background-color: #542926;
    transition: .2s all;
}

.idk button a {
    text-decoration: none;
    color: white;
    transform: skewX(-25deg);
}

.idk button a h3 {
    transform: skewX(25deg);
}

#race {
    width: auto;
    height: 300px;
    background-image: url("../images/ticketImage1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.nswBg {
    background-image: url("../images/ticketImage2.jpg");
}

.padding2 {
    padding: 1em;
}


#intro {
    grid-template-rows: 2fr auto;
}

#testing {
    overflow: hidden;
}

#testing1 {
    grid-column: 1/4;
}

.height {
    height: auto;
}

button {
    padding: 1.5em;
    background-color: #262626;
    color: white;
    border: none;
    margin: 0 auto;
}

#hero2 button {
    height: 43px;
    width: 25%;
}

.introduction {
    background-image: url("../images/aboutImage2.jpg");
    background-size: cover;
    background-position: center;
}

#intro article {
    padding: 2em;
    background-color: transparent;
    position: relative;
    z-index: 1;
}

#intro article h4,
#intro article p {
    color: black;
}

hr {
    height: .3em;
    background-color: #262626;
    bottom: 0;
    position: absolute;
    width: 96%;
}

.carouselContainer {
    max-width: 546px;
    width: 100vw;
    margin: auto;
    position: relative;
    margin-top: 4em;
    background-color: #262626;
    overflow: hidden;
}

.carouselSlide {
    display: flex;
}

.carouselSlide img {
    max-width: 530px;
    width: 100vw;
    padding: 9px 8px;
}

.carouselSlide article {
    object-fit: cover;
    height: 800px;
}

.carouselSlide h4 {
    width: 90%;
    margin-left: 1em;
}

.carouselSlide p {
    width: 83%;
    margin-left: 1em;
}

.btn {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #E0333A;
    color: white;
    position: absolute;
    top: 34%;
    cursor: pointer;
}

#prevBtn {
    top: 34%;
    left: 0;
    transform: translateY(-50%) skewX(25deg);
}

#nextBtn {
    top: 34%;
    right: 0;
    transform: translateY(-50%) skewX(-25deg);
}

#nextBtn:hover {
    background-color: #542926;
    transition: .2s all;
}

#prevBtn:hover {
    background-color: #542926;
    transition: .2s all;
}

.hidden {
    overflow: hidden;
    margin: 0 auto;
}

.revSkew {
    transform: skewX(25deg);
}

footer {
    background-color: #262626;
    height: 8em;
    z-index: 998;
    position: relative;
    padding: 0 4em;
    display: flex;
    justify-content: flex-end;
}

footer article:nth-child(1) {
    margin-right: auto;
}

footer img {
    min-width: 30px;
    width: 20vw;
    max-width: 40px;
    height: 100%;
    margin-left: auto;
    display: block;
    padding-left: 1em;
}

h1 {
    padding-left: 2.4em;
    padding-right: 2em;
    font-family: 'Sen', sans-serif;
}

h2 {
    text-align: center;
    font-size: 3em;
    font-family: 'Sen', sans-serif;
}

h3 {
    font-size: 1.7em;
    font-family: 'Sen', sans-serif;
}

h4 {
    font-weight: 900;
    font-size: 2em;
    font-family: 'Sen', sans-serif;
}

h5 {
    height: 1.6em;
    font-family: 'Sen', sans-serif;
}

h6 {
    font-size: 2em;
    color: white;
    font-family: 'Sen', sans-serif;
}

p {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
}

#yes h3 {
    background-color: red;
    color: white;
    padding: 1em;
}

footer h5 {
        line-height: 10em;
    }

@media screen and (min-width: 800px) {

    html {
        font-size: 12px;
    }

    #current {
        grid-template-columns: 1fr 1fr;
        margin: 10em;
        grid-template-rows: 1fr;
    }

    .ehhh {
        display: flex;
        padding: 1em;
    }

    #cal {
        padding: 15em;
        height: 700px;
    }

    a#why {
        max-height: 1800px;
        max-width: 30vw;
        margin: auto;
    }

    .ehhh #why {
        width: 2450%;
        max-height: 1800px;
        max-width: 47vw;
        margin-top: 4em;
    }

    #map3 {
        width: 37vw;
        margin-left: 39.3em;
        margin-bottom: 18.3em;
    }

    #leader {
        display: none;
    }

    #longLeader {
        display: grid;
        transform: translateX(-12%)
    }

    #leader2 {
        display: grid;
        height: 100vh;
    }

    #longLeader2 {
        display: grid;
        grid-gap: 2em;
    }

    #leader3 {
        display: flex;
    }

    .left {
        transform: translateX(-2em);
        width: 830px;
    }

    .right #long {
        height: 72vh;
    }

    #leaderboardTimeBoard {
        display: grid;
    }

    #tickets {
        grid-template-columns: 2fr 1fr;
    }

    #race {
        width: 100%;
        height: 100%;
    }

    #list {
        max-width: none;
        width: 50%;
        height: 66vw;
    }

    #list2 {
        max-width: none;
        width: 100%;
    }

    #maps {
        grid-template-columns: 2fr 1fr;
        padding: 1em;
    }

    #log {
        grid-template-columns: 1fr 1fr;
    }

    #times {
        height: 60vh;
    }

    #leaderboardTimeBoard {
        transform: translateX(0);
    }

    .idk {
        height: 72vh;
    }

    #intro {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .introduction {
        grid-row: 1/3;
    }

    #get {
        height: 100vh;
        padding-top: 30em;
        background-position: 400px, center;
    }
    
    #marginTop {
        margin-top: -3.7em;
    }

    .padding {
        padding: 1em;
    }

    .margin {
        margin: 1em;
    }

    .carouselSlide p {
        width: 90%;
        margin-left: 1em;
    }

    #get button {
        bottom: 24em;
    }

    footer {
        height: 12em;
        margin-top: 2em;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.2rem;
        margin: 16px;
    }

    h6 {
        font-size: 3em;
        line-height: 1em;
        color: white;
    }

    footer h5 {
        line-height: 14em;
    }
}

@media screen and (min-width: 1200px) {

    html {
        font-size: 1vw;
    }

    #current {
        grid-template-columns: 1fr 1fr;
        margin: 1em 8em;
    }

    .left {
        transform: translateX(-32em);
    }

    #cal {
        padding: 4em 20em;
        height: 60vh;
    }

    #list {
        height: 39vw;
        margin-top: 4em;
    }

    #get {
        height: 100vh;
        padding-top: 20em;
        background-position: 600px, center;
    }

    #get button {
        bottom: 15em;
    }

    #map3 {
        width: 65vh;
        margin-left: 39.6em;
        margin-bottom: 18.9em;
    }

    #times {
        height: 85vh;
    }

    .hidden {
        width: 1640px;
        overflow: hidden;
        ;
        margin: 0 auto;
    }

    #longLeader {
        display: grid;
        transform: translateX(0);
    }

    .carouselContainer {
        overflow: visible;
        margin: auto;
    }

    button {
        width: 25%;
    }

    footer {
        height: 12em;
    }

    h6 {
        font-size: 2em;
        color: white;
    }

    p {
        font-size: 1.3em;
    }

    footer h5 {
        line-height: 16em;
    }

}
